<div class="parent" fxLayout="row">
  <div class="left" fxFlex="20%">
    <mat-card class="box">
      <h3>Computer Help?</h3>
      
      <p>
        Call to schedule an appointment for a sit down meeting with Electrical and Software Engineer Alan Edwards to examine your device and estimate a repair. All pricing is flat rated and is posted on this website under the Computer Repair & Data Recovery Pricing tab in the menu.
      </p>

    </mat-card>
  </div>



  <div class="right" fxFlex="80%">
    <div class="mainContainer">
      <h1>Bob's Repair Shop</h1>
      <p class="tagLine">
        30 DAYS REPAIR WARRANTY Guaranteed Service*
      </p>
      

    </div>

  </div>